.feadback {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 120px;

    h2 {
      margin: 0 0 37px 6px;
      font-size: 54px;
      line-height: 65px;
    }
  }

  &__item {
    display: flex;
    gap: 28px;
    width: 560px;
    max-height: 242px;
    padding: 54px 60px;
    color: $color-default-white;
    background-color: $color-resolution-blue;

    img {
      display: block;
      min-width: 80px;
      margin-top: 7px;
      border-radius: 50%;
    }

    h3 {
      margin: 0;
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      margin: 0;
      margin-bottom: 10px;
      line-height: 22px;
    }
  }

  &__prev-btn {
    left: -65px;
  }

  &__next-btn {
    right: -65px;
  }
}
